body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#banner {
    height: 50px;
    background: linear-gradient(to right, #AC2318, #441500, #AC2318);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

#map {
    height: calc(98% - 50px);
}

#createAccountIcon {
    position: absolute;
    top: 15px;
    right: 30px;
    cursor: pointer;
    z-index: 1000; /* Ensure it's above the map layers */
    width: 30px; /* Width of the icon */
    height: 60px; /* Height of the icon, including head and body */
}

/* For the clusters of Chipotles */
.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large {
    background-color: #AC2318 !important; 
}

.marker-cluster div {
    background-color: #AC2318 !important;
    color: #ffffff !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#ratingModal .slider {
    width: 100%;
    margin: 10px 0;
}
#ratingForm {
    display: flex;
    flex-direction: column;
}
#ratingForm label {
    margin-top: 10px;
}
#ratingForm button {
    margin-top: 20px;
}

/* Close button styles */
.close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

/* Rating styles */
.rating-item {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

/* General Modal Styles */
.modal {
    display: none;
    position: fixed;
    font-family: 'Montserrat', sans-serif;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000;
    border-radius: 10px;
    width: 300px; /* Adjust width as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close-button {
    float: right;
    cursor: pointer;
}

.modal h2 {
    text-align: center;
    margin-bottom: 20px;
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal input {
    margin-bottom: 15px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #441500;
    box-sizing: border-box; 
    font-size: large;
    width: 100%;
    padding: 0;
}

.modal button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #441500;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

input:focus {
    outline: none;
}

/* Sign In Modal Styles */
.modal h2 {
    text-align: center;
    text-transform: uppercase;
    color: #441500;
}

#loginEmail, #loginPassword {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #441500;
    box-sizing: border-box; 
    font-size: large;
    width: 100%;
    padding: 0;
}

.modal .top-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size:small;
}

.modal .top-buttons button {
    background-color: transparent;
    padding: 2px;
    text-decoration: underline;
}

/* Login Button */
.modal button.login-button {
    width: 100%; /* Make the button span the full width of its parent */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    /* Other styling properties for the button */
}

/* Ensure the container of the button does not have padding or margin on the sides that could prevent the button from spanning the full width */
.modal .button-container {
    padding: 0;
    margin: 0;
}

#rememberMe {
    accent-color: #441500;
    margin: 0px;
    align-items: center;
}

.remember-me {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.remember-me label {
    margin-left: 5px;
}

.forgot-password {
    color: #441500 !important;
    margin-top: 0px !important;
}

.separator {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 1px;
    border-bottom: 1px solid #441500;
}

.signup-section {
    text-align: center;
}

.signup-section button {
    width: 100%; /* Make the button span the full width of its parent */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.signup-section .signup-text .no-account p {
    font-weight: bold;
}

/* Account creation modal styles */
#accountCreationModal .account-details {
    margin-bottom: 15px;
}

.create-account-button, .signInButton button, #logoutButton {
    width: 100%;
    box-sizing: border-box; 
}

.signInText p {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}

/* Account info styles */
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: calc(100%);
    width: 0; 
    position: fixed;
    z-index: 1000;
    top: 0px; 
    right: 0px;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: #441500;
}

/* Sidebar content */
.sidebar h2, .sidebar p {
    padding: 10px 15px;
}

/* Show the sidebar */
.sidebar.open {
    width: 250px;
    overflow-y: auto;
}

#logoutButton {
    margin: 0 auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
    background-color: #441500;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.review img {
    max-width: 600px;
    max-height: 600px;
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
}

/* Location Viewing Modal Styles */
#locationModal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000;
    border-radius: 10px;
    width: 300px; /* Adjust width as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
}

/* Close button styles */
#locationModal .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #441500;
}

/* Modal content styles */
#locationModal div {
    margin-bottom: 10px;
    font-size: 16px;
    color: #441500;
}

/* Button styles */
#locationModal button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #441500;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
}

/* Star rating styles */
.stars {
    position: relative;
    float: left;
    font-size: 24px !important;
	height: 1.5em;
    line-height: 1.65em;
    vertical-align: top;
    margin-bottom: 0px !important;
}

.stars:before {	
    content: "\2606\2606\2606\2606\2606";
    float: left;
    z-index: 1;
}

.percent {
    position: absolute;
    left: 0;
    font-size: 24px !important;
    overflow: hidden;
    z-index: -1;
}

.percent:after {	
    content: "\2605\2605\2605\2605\2605";
    color: rgb(255, 200, 0);
}

#locationRatingGroup {
    display: flex;
    align-items: center;
}

#locationNameLocation {
    margin-bottom: 20px !important;
}

/* Rating Modal Styles */
#ratingModal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
}

#ratingModal .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #441500;
}

#ratingModal h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #441500;
}

#ratingForm {
    display: flex;
    flex-direction: column;
}

#ratingForm label {
    margin-top: 10px;
    font-size: 16px;
    color: #441500;
}

#ratingForm input[type="range"],
#ratingForm input[type="number"],
#ratingForm textarea,
#ratingForm input[type="file"] {
    margin-top: 5px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

#ratingForm button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: #441500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

#ratingForm button:hover {
    background-color: #AC2318;
}

#ratingModal .slider {
    width: 100%;
    margin: 10px 0;
}

/* Rating Modal Styles */


/* View Ratings Modal Styles */
#viewRatingsModal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000;
    border-radius: 10px;
    width: 80%; /* Adjust width as needed */
    max-width: 1000px; /* Maximum width */
    height: 80%; /* Increase height */
    max-height: 1000px; /* Set a maximum height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
    max-height: 80%; /* Adjust height as needed */
    overflow-y: auto;
}

#viewRatingsModal .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #441500;
}

#viewRatingsModal h2 {
    text-align: center;
    text-transform: uppercase;
    color: #441500;
    margin-bottom: 20px;
}

#ratingsList {
    max-height: 400px; /* Adjust height as needed */
    overflow-y: auto;
}

.review {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Two columns: one for details, one for the image */
    grid-template-rows: auto auto auto; /* Four rows: quality, amount, service, comments */
    gap: 10px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
}

.review .details {
    display: contents; /* Use contents to allow direct placement of children in the grid */
}

.review .location-name-viewReviews {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    text-align: center;
}

.review .location-quality-viewReviews {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: center;
}

.review .location-food-viewReviews {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
}

.review .location-service-viewReviews {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    text-align: center;
}

.review .location-comments-viewReviews {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    margin-bottom: 10px;
}

.review .location-image-viewReviews {
    grid-column: 1 / 4; /* Fourth column */
    grid-row: 3 / 4;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.review .location-image-viewReviews img {
    max-width: 50%; /* Adjust as needed */
    max-height: 50%; /* Adjust as needed */
    border-radius: 5px;
}

/* Specific styles for the new classes */
.location-name-viewReviews {
    font-weight: bold;
    color: #441500;
    cursor: pointer;
    background: none;
    border: none;
    text-align: left;
    padding: 0;
    margin-bottom: 5px;
}

.location-quality-viewReviews,
.location-food-viewReviews,
.location-service-viewReviews,
.location-comments-viewReviews {
    margin: 5px 0;
    color: #333;
}

.location-image-viewReviews {
    max-width: 100%;
    max-height: 150px;
    border-radius: 5px;
    margin-top: 10px;
}

/* Crop Image Modal Styles */
#cropImageModal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000;
    border-radius: 10px;
    width: 90%; /* Adjust width as needed */
    max-width: 600px; /* Maximum width */
    max-height: 90%; /* Maximum height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Hide overflow to prevent scrollbars */
    font-family: 'Montserrat', sans-serif;
}

#cropImageModal .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #441500;
}

#cropImageModal h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #441500;
}

.crop-container {
    width: 100%;
    height: 100%;
    max-height: 400px; /* Adjust max height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hide overflow to prevent scrollbars */
}

.crop-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ensure the image fits within the container */
}

#cropButton {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: #441500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
}

#cropButton:hover {
    background-color: #AC2318;
}

/* Sidebar for User Information */
#userSidebar {
    display: flex;
    flex-direction: column;
}
/* #userSidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: #441500;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
} */

/* Sidebar content */
#userSidebar h2, #userSidebar p {
    padding: 10px 15px;
    text-align: center;
    width: 100%;
}

#userSidebar .home-location,
#userSidebar .view-my-reviews,
#userSidebar .account-settings,
#userSidebar .logout-button {
    width: 90%;
    margin: 10px 0;
}

#userSidebar button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #441500;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    box-sizing: border-box;
}

#userSidebar button:hover {
    background-color: #AC2318;
}

/* Close button styles */
#userSidebar .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #441500;
}